/* Set basic styles for the page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#map {
    flex: 1;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: -30px; /* Space for footer (reduce this value) */
}

/* Footer Styles */
footer {
    background-color: #fa7e1e;
    padding: 16px 0; /* Adjust padding to make footer smaller */
    text-align: center;
    position: relative;
    z-index: 100;
    margin-top: 50%;
}

footer h3 {
    text-align: center;
    color: #000;
    margin: 0;
}

/* Wrapper for social icons */
.wrapper {
    height: 6vh; /* Adjust height to fit content */
    text-align: center;
}

.wrapper,
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

/* Social Icon Styles */
.social-icon {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 40px; /* Smaller icons */
    height: 40px; /* Smaller icons */
    margin: 8px;
    background-color: #DCD7C9;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon i {
    margin: auto;
    font-size: 18px; /* Smaller icon font size */
    color: rgb(63, 78, 79);
    z-index: 1;
}

.social-icon.mail:after {
    background-color: #f2a60c;
}

.social-icon.github:after {
    background-color: #24292e;
}

.social-icon.instagram:after {
    background-image: linear-gradient(to bottom left, #4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
}

.social-icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.social-icon:hover i {
    color: #fff;
}

.social-icon:hover:after {
    transform: translate(0) scale(1.2);
}

/* Hover effect for text */
.hover {
    color: #DCD7C9;
    padding-block: 0.1em;
    background: linear-gradient(#DCD7C9 50%, #000 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
        linear-gradient(#DCD7C9 0 0) 0% var(--_p, 0%) / var(--_p, 0%) 0.1em no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: all 0.3s ease;
}

.hover:hover {
    --_p: 100%;
    transition: background-size 0.3s ease, linear 0.3s ease;
}

/* hover */
.hover {
    --b: 0.1em;
    --c: #DCD7C9;

    color: #DCD7C9;
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear,
        background-size .3s calc(.3s - var(--_s, 0s));
}

.hover:hover {
    --_p: 100%;
    --_s: .3s;
}
